body {
 	
 	font-size: .auto;
    
    margin: auto;
    border: .1em solid #000;
    width: 900px;
    background-color: white;
 }


hr{
	background-color: #FF4500;
	height : 5px;
	width: 95%;
}


h1{
	color: #FF4500;
	font-family: 'Open Sans Condensed', sans-serif;

 }

 h2{
 	color: #30CAE0;
 	font-family: 'Lato', sans-serif;
 }

 h3{
 	font-family: 'Lato', sans-serif;
 	color: #66CEA7;
 }

 main{
 	display: inline-block;
 	width: 60%;
 }

 aside{

 	display: inline-block;
 	width: 30%;
 	border-right: : .2em solid #FF4500;
 	padding-right: 3em;
 }

 

 html{
 	background-color: #DCDCDC; 
 }

 header{
 	 background-image: url(IMG.JPG);
     
 }